.reserve-btn{

    background:#ef4444;
  
    color:white;
  
    border:none;
  
    padding:12px 20px;
  
    border-radius:10px;
  
    font-size:14px;
  
    font-weight:600;
  
    cursor:pointer;
  
    transition:0.3s;
  }
  
  .reserve-btn:hover{
  
    background:#dc2626;
  }